<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="script.js"></script>
    <title></title>
  </head>
  <body>
    <h1>Corgi Coffee Shop</h1>
    <h4>SessionStorage</h4>
    <button onclick="testCoffee()">Set Coffee</button><br>
    <button onclick="testTea()">Set Tea</button><br>
    <button onclick="testWater()">Set Water</button><br><br>
    <button onclick="getItem()">Get sessionStorage Beverage!</button>
<br><br>
    <h4>LocalStorage</4><br>
      <button onclick="testCoffeesession()">Set Coffee</button><br>
      <button onclick="testTeasession()">Set Tea</button><br>
      <button onclick="testWatersession()">Set Water</button><br><br>
      <button onclick="getItemsession()">Get sessionStorage Beverage!</button>

  </body>
</html>
